.btn-primary {
    width: 100%;
    padding: 12px;
    background-color: #ff5252; 
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    margin-top: 40px;
    border-radius: 3px;
}

.btn-primary:hover {
    background-color: #ff6b6b; 
}

.btn-img {
    padding: 5px 10px;
    border: 1px solid #ff4d4d;
    color: #ff4d4d;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    background-color: transparent;
    transition: background-color 0.2s;
}

.btn-img:hover {
    background-color: #fff0f0;
}