.category-input {
    display: none;
}

.category-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.field-group .category-wrapper .category-label {
    display: inline-flex;
    align-items: center;
    padding: 0px 16px;
    border: 1px solid #FF5655;
    border-radius: 9999px;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 15px;
    color: #FF5655;
    height: 32px;
    line-height: 32px;
    box-sizing: border-box;
}

.category-label:hover {
    background-color: #fff0f0;
}

.category-input:checked + .category-label {
    background-color: #FF5655;
    color: #FFFFFF;
    border-color: #FF5655;
}