.form-select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    color: #333;
    transition: all 0.3s;
}

.form-select:focus {
    background-color: #f0f0f0;
    outline: none;
    border-color: #888;
}

.purchase-payment-info .field-group .form-select {
    width: 265px;
    height: 31px;
    display: block;
    font-size: 16px;
    padding: 0 10px;
    line-height: 35px;
    margin-left: 96px;
    margin-bottom: 64px;
}