.register-container,
.login-container,
.profile-edit-container {
    width: 90%;
    max-width: 600px;
    margin: 60px auto;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}
