* {
    box-sizing: border-box;
}

.register-container,
.login-container,
.profile-edit-container,
.item-sell-container,
.shipping-address-edit-container {
    width: 90%;
    max-width: 680px;
    margin: 60px auto;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 50px;
}
