.items-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 0;
}

.sell-section h2 {
    color: #5F5F5F;
    font-size: 30px;
    border-bottom: 1px solid #5F5F5F;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.sell-section {
    margin-bottom: 70px;
}