.items-container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 50px 0;
}

.sell-section h2 {
    color: #5F5F5F;
    font-size: 30px;
    border-bottom: 1px solid #5F5F5F;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.sell-section {
    margin-bottom: 70px;
}

.item-detail-container {
    display: flex;
    width: 1380px;
    margin: 95px auto;
}

.item-detail-area {
    width: 690px;
    padding: 0 60px;
    font-size: 24px;
}

.item-detail__header {
    text-align: left;
}

.item-detail__header h1 {
    text-align: left;
    font-size: 45px;
    margin-bottom: 0;
}

.item-detail__brand {
    font-size: 20px;
}

.price-symbol{
    font-size: 30px;
}

.price-value {
    font-size: 45px;
}

.item-detail__actions {
    display: flex;
    width: 144px;
    height: 67px;
    margin: 0 45px;
    justify-content: space-between;
}

.item-detail__like-wrapper,
.item-detail__comment-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.item-detail__purchase {
    display: flex;
    width: 570px;
    height: 100px;
}

.item-detail__subtitle {
    font-size: 36px;
    font-weight: bold;
    margin: 32px auto;
}

.item-detail__comments .item-detail__subtitle {
    color: #5F5F5F;
}

.item-detail__info-grid {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto auto;
    row-gap: 20px;
    align-items: center;
    width: 570px;
}

.item-detail__label {
    font-size: 24px;
    font-weight: bold;
}

.item-detail__values {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.item-detail__value {
    padding: 0 20px;
    font-size: 20px;
}

.item-detail__values .category-label {
    background-color: #D9D9D9;
    height: 30px;
    border-radius: 15px;
    padding: 0 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    font-size: 20px;
}

.item-detail__values .category-label:hover {
    background-color: #D9D9D9;
    cursor: default;
}

.comment-user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comment-body {
    background-color: #E5E5E5;
    border-radius: 5px;
    padding: 15px;
    margin-top: 10px;
    color: #333;
    line-height: 1.5;
}