.profile-image-section {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-bottom: 75px;
}

.profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 75px;
    margin-top: 75px;
}


.profile-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 200px;
}

.user-name {
    margin: 0;
}

@media (min-width: 768px) and (max-width: 1400px) {
    .profile-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 20px;
        justify-content: center;
    }

    .profile-info-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }
}

@media (min-width: 768px) and (max-width: 950px) {
    .btn-edit {
        font-size: 1px;
        padding: 4px 8px;
    }
}